@media only screen 
and (max-width : 767px) {
/* Styles */
    .unsupportedDeviceWidth {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FFFFFF;
        z-index: 9999999;
        overflow: hidden;
        text-align: center;
    }
        .unsupportedDeviceWidth img {
            display: block;
            margin: 42px auto; 
        }

    #panels,
    #jsStartLoadIndicator {
        display: none;
    }
}
